
<!--- LOGIN SECTION ---> 

  <div class="col-md-6">
    <div class = "login-title">
          <h2 class = "title is-2">Login</h2>
    </div>
  

    <form class="form login-form">
      <!--- EMAIL ---> 
      <div class="form-group">
        <label for="email-login">
            <h2 class = "title is-4"> Email: </h2>
        </label>
        <input class="input is-info" type="text" id="email-login" />
      </div>

      <!--- PASSWORD ---> 
      <div class="form-group">
        <label for="password-login">
            <h2 class = "title is-4"> Password: </h2>
        </label>
        <input class="input is-info" type="password" id="password-login" />
      </div>

    <!--- LOGIN BUTTON ---> 
      <div class="form-group">
        <button class="button is-info is-outlined is-fullwidth" type="submit">
           <h2 class = "title is-5"> LOGIN </h2>
        </button>
      </div>
    </form>
  </div>

  <!--- SIGNUP DROPDOWN ---> 
    <div class="dropdown">
      <div class = "dropBtn-sec">
        <button onclick="myFunction()" class="button dropbtn is-info is-outlined is-fullwidth" type="submit">
          <h2 class = "title is-5"> SIGN UP INSTEAD!</h2>
      </button>
    </div>

<div class = "signup-content"> 
      <div id="myDropdown" class="dropdown-content">
          <!--- SIGN UP BEGINS ---> 
           <div class = "signup-tle">
             <h2 class = "title is-3"> Sign Up</h2>
          </div>

  <form class="form signup-form">
      <!--- NAME ---> 
      <div class="form-group">
          <label for="name-signup">
              <h2 class = "title is-4"> Name: </h2>
          </label>
          <input class="input is-info" type="text" id="name-signup" />
        </div>

        <!--- EMAIL ---> 
        <div class="form-group">
          <label for="email-signup">
            <h2 class = "title is-4"> Email: </h2>
          </label>
          <input class="input is-info" type="text" id="email-signup" />
        </div>

        <!--- PASSWORD --> 
        <div class="form-group">
          <label for="password-signup">
            <h2 class = "title is-4"> Password: </h2>
          </label>
          <input class="input is-info" type="password" id="password-signup" />
        </div>

        <!--- SIGNUP BUTTON ---> 
        <div class="form-group">
          <button class="button is-info is-outlined is-fullwidth" type="submit">
            <h2 class = "title is-5"> SIGNUP </h2>
          </button>
        </div>
  </form>





      </div>
</div>
    </div>

<div class = "footer-login">
    <h3 class="subtitle is-5"> Made by Griselda Mendieta </h3>
</div>
<script src="./js/dropdown.js"></script>
<script src="./js/login.js"></script>
